.timeline {
  font-family: Helvetica, serif;

}


.date_time {

}

.phone_logo {

}

.section1 {
  background-color: #82CFFD;
  color: #ffffff;
  padding: 2em;
  width: 80%;
}

hr {
  border-width: 1px;
  color: #ffffff;
}
