.timeline {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 910px;
  margin: 0  auto;

}

/*.timeline::before {

}*/

.date_time {
  color: lightgray;
  font-size: small;
  text-indent: 48px;
  height: 12px;
  line-height: 1.3;
  padding-top: 5px;
}

/*.phone_logo {

}

.computer_logo {

}*/

ul {

}
.fa {
  color: #3299CC;
  box-shadow: 0px 0px 0px 10px #B0E2FF;
  border-radius: 50%;
  margin-left: 5em;
  margin-top: 1em;

}
/*//////////// FIRST SECTION /////////*/
.timestyle {
  color: #67C8FF;
  font-weight: 400;
  font-size: 3em;
}

.section1 {
  background-color: #67C8FF;
  color: #ffffff;
  padding: 2em;
  width: 80%;
  line-height: 1.4;
  border-radius: 5px;
  margin-left: 200px;

}

.section1 > h2{
  font-weight: 700;
  font-size: 1.5em;
}

/*//////////// SECOND SECTION /////////*/

.timestyle_two {
  color: #3299CC;
  font-weight: 400;
  font-size: 3em;
}

.section2 {
  background-color: #3299CC;
  color: #ffffff;
  padding: 2em;
  width: 80%;
  line-height: 1.4;
  border-radius: 5px;
  margin-left: 200px;
}


.section2 > h2{
  font-weight: 700;
  font-size: 1.5em;
}


/* REST */

hr {

  width:100%;
  border: 0;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  opacity: .5;

}

/*.left_line {
  height: 100%;
}*/

/*.circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border-left: 10px;
  background-color: #B0E2FF;
  margin-left: -10px;
  left: 17em;
}*/


.line {
    position: absolute;
    border-left: 10px solid #B0E2FF;
    margin-left: 7em;
    top: 2.6em;
    bottom: -103.75em;
}


.icon {
  margin-left: -10px;
  left: 17em;
}
